body, html {
    height: 100%;
    color: #ddd;
    font-family: 'Metrophobic', sans-serif;
    font-size: 1.07em
}

#scanlines_container {
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    opacity:0.1;
    width: 100%;
    height: 100%;
}

#scanlines_container img {
    width:100%;
    height:100%;
}

#starfield {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
}

#main {
    position: relative;
    background-color: rgba(58, 58, 58, 0.8);
    min-height: 90%;
    max-width: 1024px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 0 8px 0;

}

#content {
    padding: 0 20px 8px 20px;
    margin-bottom: 110px;

}

#footer {
    width: auto;
    left: 0;
    right: 0;
    background-color: rgba(32,32,32,0.8);
    position: absolute;
    padding: 32px 16px 24px 16px;
    bottom: 0;
}

/* ZX Spectrum rainbow spacers */

.spacer {
    width: 100%;
    height: 8px;
    background: rgba(255,0,0,0.8);
    background: linear-gradient(
            to right,
            rgba(255,0,0,0.8) 0%,
            rgba(255,255,0,0.8) 33%,
            rgba(0,255,0,0.8) 66%,
            rgba(0,255,255,0.8) 100%
    );
}

.spacer_end {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0; left: 0;
    background: rgba(0,255,255,0.8);
    background: linear-gradient(
            to right,
            rgba(0,255,255,0.8) 0%,
            rgba(255,0,255,0.8) 54%,
            rgba(255,0,0,0.8) 100%
    );
}

/* Content */

@font-face {
    font-family: Hyperspace;
    src: url('../fonts/Hyperspace.ttf') format('truetype');
}

h2 {
    font-family: 'Hyperspace', 'Lucida Sans Unicode', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #DD0;
    font-size: 1.25em;
}

h2.header {
    color: white;
}

h3 {
    color: #DD0;
    font-size: 1.05em;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #00ADAD;
    transition: color 0.4s ease-in-out;
}

a:hover {
    color: #0DD;
}

p {
    line-height: 120%;
    margin: 0.2em 3% 1.3em 0;
}

pre {
    font-size: 1.1em;
    margin: 2em 0 2em 0;
}
pre * span {
    line-height: 130%;
}

img {
    border: 0;
}

img.captcha {
    vertical-align: middle;
}

li {
   margin-bottom: 0.2em;
}

.webicon.large {
    box-sizing: border-box;
    border-radius: 8px;
    margin-left: 6px;
    position: relative;
    top: 0;
    transition: top 0.4s ease-in-out;
}

.webicon.large:hover {
    top: 3px;
}

.break {
    clear:both;
    margin-bottom: 8px;
}
.portrait {
    float:left;
    border-radius: 50%;
    padding-right: 16px;
    margin-top: 16px;
}
.portrait img {
    border: 1.5cqmin solid #ddd;
    border-radius: 50%;
}

/* Blog comments */

.comments {
    padding: 12px 0;
}

.comment {
    background: rgba(64,64,64,0.7);
    margin: 12px 0;
    padding: 6px 0 12px 12px;
}

.tox-tinymce {
    margin: 16px 0;
}

/* Image feature highlight on front page */

#feature_boxes div {
    float: left;
    width: 32.3%;
    height: 128px;
    background-size: 317px 144px;
    margin-right: 1%;
    margin-top: 4px;
    position: relative;
}

#feature_boxes div.title {
    background: rgba(64,64,64,0.7);
    transition: background 0.4s ease-in-out;
    width: 100%;
    height: 20%;
    bottom: 0;
    position: absolute;
    padding: 8px 0 8px 0;
}

#feature_boxes div:hover div.title {
    background: rgba(64,64,64,0.5);
}

#feature_boxes div.title span {
    margin-left: 8px;
    color: #ddd;
}

/** Mobile / Tablet */

@media only screen and (max-width: 800px) {
    #main {
        width: 85%;
    }
	#content {
		margin-bottom: 140px;
	}	
	#feature_boxes div {
		float: none;
		width: 100%;
		background-size: 100%;
	}
	#logo {
		width: 70%;
	}
	.portrait img {
		width: 125px;
		height: 123px;
	}
	h2 {
		font-size: 1.1em;
	}
	h3 {
		font-size: 1em;
	}

}

