{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

{% with display_limit=':3' %}
    {% include "blog/blogentry_list.html" %}
{% endwith %}

<div style="float:right;"><a href="{%url 'blog:blogentry_list' %}">More..</a></div>

<h2 style="clear:both">Featured Demos</h2>
<div id="feature_boxes">
    <a href="fractal.html">
        <div style="background-image: url('{% static 'images/features/fractal.png' %}')">
            <div class="title"><span>Fractal Generator</span></div>
        </div>
    </a>

    <a href="gameoflife.html">
        <div style="background-image: url('{% static 'images/features/gameoflife.png' %}')">
            <div class="title"><span>Game of Life</span></div>
        </div>
    </a>
    <!--<a href="goingout/">
        <div style="background-image: url('{% static 'images/features/goingout.png' %}'); margin-right: 0;">
            <div class="title"><span>Going Out - Guide</span></div>
        </div>
    </a>-->
    <a href="gallery/">
        <div style="background-image: url('{% static 'images/features/gallery.png' %}'); margin-right: 0;">
            <div class="title"><span>Gallery</span></div>
        </div>
    </a>
</div>

<div class="break"></div>
    
<div class="portrait">    
    <a href="mailto:alex@starcross.dev">
        <img id="portrait" src="{% static 'images/portrait_small.jpg' %}" title="Alex Luton"
             alt="Portrait photo of Alex Luton" width="240" height="240"
             style="">
    </a>
</div>

<h2 style="margin-top: 32px">About Me</h2>
<p>I am an experienced software developer and manager currently working for a renowned digital agency based in London .</p>
<p>This site contains examples of my work, including Django, Python, Javascript, HTML5 and CSS.</p><!--<p>Please feel free to <a href="mailto:alex@starcross.dev">contact me</a> with genuine permanent opportunities in or around <a href="https://bit.ly/1v2t3U3">Hertfordshire</a> at Team Lead / Lead Developer level.</p>-->
    <p>I have worked with a wide range of at technologies as a Web / Dev Team Leader, particularly open source tools like <a href="https://www.python.org">Python</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>, <a href="https://vuejs.org/">Vue.js</a>, <a href="https://www.mariadb.org">MySQL</a>, C++, <a href="https://www.djangoproject.com/">Django</a>, <a href="https://plone.org">Plone</a>, and <a href="https://www.zope.org">Zope</a>.</p>
<p>Take a look at my code examples on <a href="https://github.com/Starcross">GitHub</a>, and some of my projects:</p>

<ul>
    <li><a href="gallery/">Django Starcross Gallery</a> - Django Gallery app with justified image layout, infinite scrolling and drag & drop support</li>
    <li><a href="https://cinnamon-spices.linuxmint.com/applets/view/320">Bing Wallpaper for Cinnamon</a> - Cinnamon (Linux Minx) applet that downloads the Bing image of the day and applies to the desktop</li>
    <li><a href="/fractal.html">Canvas Fractal Generator</a> - HTML5 Canvas Mandelbrot fractal generator</li>
    <li><a href="gameoflife.html">Canvas Game of Life</a> - HTML5 Canvas simulation of Conway's Game of Life</li>
    <li><a href="starfield.html">6502 C64 Starfield</a> - Commodore 64 Starfield in 6502 assembly using ACME syntax</li>
    <li><a href="goingout">Going Out</a> - Restaurant guide demo using Google Maps API</li>
</ul>

{% endblock %}
