Django==3.1
Pillow==7.2.0
django-admin-sortable2==0.7.6
git+git://github.com/starcross/django-geoposition#egg=django-geoposition
django-imagekit==4.0.2
django-simple-captcha==0.5.12
django-tinymce==2.7.0
gunicorn==20.0.4
psycopg2-binary==2.8.5
