Django==4.2.7
Pillow==10.1.0
django-admin-sortable2==2.1.10
git+https://github.com/starcross/django-geoposition#egg=django-geoposition
django-imagekit==5.0.0
django-simple-captcha==0.5.20
django-tinymce==3.6.1
gunicorn==21.2.0
psycopg==3.1.12
django-debug-toolbar==4.2.0