body,html {
    background-color: #282828;
    margin: 0;
    font-family: 'Lucida Sans Unicode', sans-serif;
}
body:after {
    background-image: url('images/scanlines_1024.png');
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    content: "";
}
@font-face {
    font-family: Hyperspace;
    src: url('fonts/Hyperspace.ttf') format('truetype');
}
h2{
    font-family: 'Hyperspace', 'Lucida Sans Unicode', sans-serif;
    letter-spacing: 1px;
    color: #DD0;
}
#overlay {
    width: 100%;
    padding: 16px 0px 68px 8px;
    background-color: rgba(64,64,64,0.6);
}
#overlay img{
    width: 234px; height: 49px;
    float: left;
}
#overlay h2{
    float: right;
    margin-right: 32px;
}
#overlay img {
    border: 0;
    float: left;
}
#controls {
    float: left;
    margin: 12px 0 0 12px;
    color: #aaa;
}
input {
    border: none;
    background-color: #555;
    color: #bbb;
    font-family: 'Lucida Sans Unicode', sans-serif;
    vertical-align: text-top;
}
label {
    color: #aaa;
    font-size: 12px
}